/* DataTable.css */
.table-container {
    position: relative;
    top: 40px;
    padding: 10px;
    padding-top: 20px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
  }

  .table-title{
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
  }
  
  .data-table thead {
    color: #000000;
    background-color: rgba(255, 166, 0, 0.334);
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.664);
  }
  
  .data-table th, .data-table td {
    padding: 12px;
    text-align: center;
  }
  
  .data-table th {
    text-transform: uppercase;
  }

  .data-table tbody{
    font-size: 14px;
    color: #0000006a;
    font-weight: bold;
    border-bottom: 1px solid red;
    cursor: pointer;
  }
  
  .data-table tbody tr:hover {
    background-color: rgba(255, 166, 0, 0.611);
    color: white;
    
  }
  
  .data-table td {
    border-bottom: 1px solid #dddddd;
  }
  
  .data-table td:nth-child(3), .data-table td:nth-child(4), .data-table td:nth-child(5) {
    text-align: center;
  }
  